<h3 class="text-center"> Pipes de fechas</h3>
<hr>
<p><b>DecimalPipe:</b>{{fecha | date: 'medium' }}</p>
<p><b>PercentPipe:</b>{{fecha| date:'shortTime' }}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'mm:ss'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'short'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'medium'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'long'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'full'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'shortDate'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'mediumDate'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'longDate'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'fullDate'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'shortTime'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'mediumTime'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'longTime'}}</p>
<p><b>CurrencyPipe:</b>{{fecha | date: 'fullTime'}}</p>
