<h3 class="text-center">Pipes de numeros</h3>
<hr> 
<p><b> DecimalPipe: </b>{{32.1814234 | number:'1.0-0'}}</p>
<!-- <p><b> DecimalPipe: </b>{{32.1819234 | number:'4.0-4'}}</p> -->
<p><b> PercentPipe: </b>{{0.32 | percent:'1.0-3'}}</p>
<!-- <p><b> PercentPipe: </b>{{0.32 | percent}}</p> -->
<p><b>  CurrencyPipe: </b>{{2300123 | currency:'EUR' }}</p>
<!-- <p><b>  CurrencyPipe: </b>{{2300123 | currency:'cop'}}</p> -->

<!-- <h3 class="text-center"> Pipes de numeros</h3>
<hr>
<p><b>DecimalPipe:</b>{{decimal | number: '1.0-3' }}</p>
<p><b>PercentPipe:</b>{{porcentaje| percent }}</p>
<p><b>CurrencyPipe:</b>{{currency | currency }}</p> -->